/* Colors */

@bg-color: grey;
@text-color: black;

/* Basic settings */

html {
  font-size: 14px;
}

/* Body */

body {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  color: @text-color;
  background-color: @bg-color;
}

section {
  min-height: 100vh;
  padding: 2rem 0;
}
